.App {}

.Aheader {
  background-color: black;
  min-height: 20px;
  height: 50px;
  max-width: 100%;
  padding-left: 50px;
}

.Alogo {
  color: #1090f7;
}

.Anewscontainer {
  background-color: black;
  margin: 2% 5% 0 5%;
  height: 500px;
  width: 90%;
}